suivi/suivi*
!suivi/suivi.tex
!suivi/suivi.pdf

extrapolate/extrapolate*
!extrapolate/extrapolate.tex
!extrapolate/extrapolate.pdf

rehaussement/rehaussement*
!rehaussement/rehaussement.tex
!rehaussement/rehaussement.pdf