docs/suivi/suivi*
!docs/suivi/suivi.tex
!docs/suivi/suivi.pdf

docs/presentation/presentation*
!docs/presentation/presentation.tex
!docs/presentation/presentation.pdf

docs/suivi/abstract/abstract*
!docs/suivi/abstract/abstract.py
!docs/suivi/abstract/abstract.tex
!docs/suivi/abstract/abstract.pdf

docs/extrapolate/extrapolate*
!docs/extrapolate/extrapolate.tex
!docs/extrapolate/extrapolate.pdf

docs/rehaussement/rehaussement*
!docs/rehaussement/rehaussement.tex
!docs/rehaussement/rehaussement.pdf

docs/comp_meth_corr/comp_meth_corr*
!docs/comp_meth_corr/comp_meth_corr.tex
!docs/comp_meth_corr/comp_meth_corr.pdf

docs/preuve_ine_reh/preuve_ine_reh*
!docs/preuve_ine_reh/preuve_ine_reh.tex
!docs/preuve_ine_reh/preuve_ine_reh.pdf

docs/rapport/rapport*
!docs/rapport/rapport.tex
!docs/rapport/rapport.pdf

docs/antora/cache
docs/antora/public
docs/antora/node_modules