suivi/suivi*
!suivi/suivi.tex
!suivi/suivi.pdf

suivi/abstract/abstract*
!suivi/abstract/abstract.py
!suivi/abstract/abstract.tex
!suivi/abstract/abstract.pdf

extrapolate/extrapolate*
!extrapolate/extrapolate.tex
!extrapolate/extrapolate.pdf

rehaussement/rehaussement*
!rehaussement/rehaussement.tex
!rehaussement/rehaussement.pdf

comp_meth_corr/comp_meth_corr*
!comp_meth_corr/comp_meth_corr.tex
!comp_meth_corr/comp_meth_corr.pdf
